section {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;

}

section::after {
    content: '';
    background-image: url("man-watching-tv.webp");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}